body {
  .Header {
    height: 80px;

    .top-avatar{
      width: 40px;
    }

    .navbar{
      background-color: lightgray;

      .nav-link{
        line-height: 45px; 
        margin-left: 10px;
        cursor: pointer;

        img{
          height: 45px;
        }
      }
    }
  }

  .Content {
    background-color: #2b2b2b;
    color: white;
    min-height: 100vh;
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .Footer {
    height: 100px;
    background-color: #f7f7f7;
    margin-top: -100px;
  }

  .alert {
    position: absolute;
    right: 0;
    z-index: 99;
  }

  .navMobile{
    display: none;
  }

  .navDesktop{
    display: flex;
  }

  @media (max-width: 100px){
    .navMobile{
      display: flex;
    }
  
    .navDesktop{
      display: none;
    }
  }
}
